.cont{
    background-image: url(images/contact.jpeg);
    background-size: cover;
    display: flex;
    color: #FFFFFF;
    height: 900px;
    align-items: center;
    gap: 100px;
    padding-left: 500px;
    
}
.div-Kitisuru{
    margin-top: 200px;
    border: 1px solid;
    width: 300px;

}
.div-kilimani{
    margin-top: 300px;
    border: 1px solid;
    width: 300px;
}
.ankolE-Logo{
    position: absolute;
    top: 30px;
    left: 40%;
}
.ankole-logo{
    position: absolute;
    top: 10%;
    left: 40%;
    width: 10px;
}
.IG-FB{
    margin-left: 1600px;
    padding-left: 80px;
    position: absolute;
    top: 60px;
    color: #c4bfbf;
}
.wap{
    margin-left: 1600px;
    padding-left: 80px;
    position: absolute;
    top: 800px;
    color: #c4bfbf;
}


@media only screen and (max-width: 600px){

    .cont{
        background-image: url(images/contact.jpeg);
        background-size: 100%;
        color: #FFFFFF;
        height: 900px;
        align-items: center;
        gap: 10px;
        padding-left: 1px;
        
    }
    .div-Kitisuru{
        border: 1px solid;
        width: 600px;
        font-size: xx-small;
    
    }
    .div-kilimani{
        border: 1px solid;
        width: 600px;
        height: 230px;
        position: absolute;
        bottom: 10px;
        top: 350px;
        font-size: xx-small;
    }
    .ankolE-Logo{
        position: absolute;
        top: 20px;
        left: 3%;
    }
}